.page-footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;

  background-color: $bg-color-footer;
  border-width: 0;
  border-style: solid;
  border-color: #2c7083;
  border-top-width: 3px;
  border-image-source: linear-gradient(90deg, rgb(242,246,250) 0%, rgb(135,174,186) 20%, rgb(28,102,122) 50%, rgb(135,174,186) 80%, rgb(242,246,250) 100%);
  border-image-slice: 100% 0 0 0;

  &__user-block-wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 95%;

    @media (min-width: 1200px) {
      left: 100px;
    }
  }

  &__copyright-wrap {
    flex-basis: 70%;
  }
}
