.user-block {
  width: 100%;
  height: 100%;

  &__login {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;

    & svg {
      width: 100%;
      height: 100%;

      fill: $gray-1;
    }
  }

  &__text {
    &--hidden {
      display: none;

      text-indent: -9999px;
    }
  }
}
